<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <div class="container">
    <a class="navbar-brand">Eszküvő helyszínek</a>

    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkactive="active" routerLink="/main">Kezdőoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkactive="active" routerLink="/locations-list">Esküvői helyszínek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkactive="active" routerLink="/add-location">Helyszín hozzáadás</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!--
<app-menu (selectedPage)="changePage($event)"></app-menu>
<ng-template [ngIf]="page === 'main'">
  <div class="main_component">
    <app-main></app-main>
  </div>
</ng-template>
<ng-template [ngIf]="page === 'location'">
  <app-location></app-location>
</ng-template>
-->